* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

.container{
  display: block;
  width: 100%;
  background-color: #fff7ec;
  padding: 90px 0px;
}

:root {
  --primary-color: #212121;
  --secondary-color: #ced5ff;
  --third-color: #e8e8fc;
  --fourth-color: #fff7ec;
  --blank-color: #f6f6f6; 
}

